<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login acceso</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <form [formGroup]="formLogin">
      <ion-item>
        <ion-label floating>Correo electrónico</ion-label>
        <ion-input type="email" formControlName="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="formLogin.get('email').errors && formLogin.get('email').dirty">
        <p *ngIf="formLogin.get('email').hasError('required')">Este campo es requerido</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Contraseña</ion-label>
        <ion-input type="password" formControlName="password" required [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="formLogin.get('password').errors && formLogin.get('password').dirty">
        <p *ngIf="formLogin.get('password').hasError('required')">Este campo es requerido</p>
      </ion-item>
      <br>
    </form>

    <br>

    <button ion-button full (click)="iniciarSesion()" [disabled]="formLogin.invalid">Iniciar sesión</button>

  </ion-list>

  <br>
  <hr>

  <p>¿Olvido su contraseña?</p>
</ion-content>